<div *Unless="bookmark">
<h3 class="title is-3">
    {{bookmark?.name}}
  </h3>
  <form class="control has-addons" 
  (ngSubmit)="onSubmit(reviewForm)"
  #reviewForm="ngForm">
    <input name="comment" class="input is-expanded" 
    [(ngModel)]="bookmark.comment" 
    placeholder="Comment" />
    <select name="rating" [(ngModel)]="bookmark.rating">
      <option [selected]="!bookmark.rating">No stars</option>
      <option *ngFor="let val of [1,2,3,4,5]" [selected]="val==bookmark.rating"
      [value]="val">{{val}} stars</option>
    </select> 
  </form>
</div>