<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <h1 class="nav-item">Angular2 Sages App</h1>
    </div>
    <div class="nav-center">
      <a routerLink="/todos" class="nav-item" routerLinkActive="is-active">Todo List</a>
      <a routerLink="/search" class="nav-item" routerLinkActive="is-active">Search</a>
      <a routerLink="/bookmarks" class="nav-item" routerLinkActive="is-active">Bookmarks</a>
    </div>
    <div class="nav-right"></div>
  </div>
</nav>