<div class="columns">

  <div class="column">
    <h1 class="title">Search</h1>
    
    <form class="control has-addons" (ngSubmit)="onSubmit()" 
    [formGroup]="searchForm">
      <input class="input is-expanded" formControlName="query" />
      <button type="submit" class="button">Search</button>
    </form>
      <div class="control" *ngIf="isInvalid('query')">
      <br/>
      Błąd!
    </div>
  </div>

</div>
<div class="columns">
  <div class="column">

    <ul class="columns is-multiline">
      <li *ngFor="let card of cards | async " class="column is-4">
        <search-card (click)="addBookmark(card.content)">
          <album-card [album]="card.content"></album-card>
        </search-card>
      </li>
    </ul>
  </div>
</div>